.formcontainer {
    width: 420px;
    margin-left: 10px;
    margin-bottom: 4px;
}

.formcontainer .logindetails {
    width: 120px;
    display: block;
}

.formcontainer .namedetails {
    width: 185px;
    display: block;
}

.formcontainer .email {
    width: 185px;
    display: block;
}

.formcontainer .pubdetails {
    width: 250px;
    display: block;
}

.formcontainer .booksearch {
    width: 400px;
    display: block;
}

.formcontainer input {
    width:100%;
    margin-top: 5px;
    display: block;
}

.formcontainer label {
    margin-top: 10px;
    display: block;
}

.formcontainer #submit {
    margin-top: 15px;
    width: 80px;
}

.formcontainer select {
    margin-top: 10px;
}

.formcontainer .error {
    color: red;
    font-weight: bold;
}

select.groupcombo {
    /* float: right; */
}

input#book_id {
    /*display: none;*/
}
